.mainTwo {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    align-items: initial;
}


.postList {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-items: stretch;
  }

  @media (max-width: 769px) { 
    .mainTwo {
        grid-template-columns: repeat(1, auto);
    }
    .postList {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 729px) { 
    .mainTwo {
        grid-template-columns: repeat(1, auto);
    }

    .postList {
        grid-template-columns: repeat(1, auto);
      }
   }
  
