
.mainHeader {
    width: 100%;
    border-top: 3px solid #000;
    box-shadow: 2px 5px 13px 0px #0000001a;
    height: 80px;
    margin-bottom: 20px;
}

.mainNav{
    max-width: 1100px;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.headerWrap {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    max-width: 100%;
    height: auto;
}

.siteMenu {
    max-width: 100%;
    z-index: 9;
}

.menuLinks {
    display: flex;
    list-style: none;
}

.menuLinks li {
    margin-left: 20px;
}

.mobMenu {
    display: none;
}

@media (min-width: 770px) { 
    .mobMenu,.hamb {
        display: none;
    }
}

@media (max-width: 769px) { 
    .headerWrap {
        grid-template-columns: 1fr 1fr;
        display: grid;
        justify-items: center;
    }
    .menuLinks {
        color: #fff;
        display: none;
    }

    .menuLinks li {
        margin: 20px;
    }

    .mobMenu {
        padding: 5px;
        display: block;
    }

    /* Hamburger Icon */

.hamb{
    cursor: pointer;
}

.hamb-line {
    background: #000;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after{
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.mobMenu {
    display: none;
}


.mobMenu:checked ~ .siteMenu .menuLinks{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin-top: 25px;
    margin-bottom:400px;
    left: 0;
    position: absolute;
    transition: max-height .5s ease-out;
    background: #000;
}

.mobMenu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.mobMenu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.mobMenu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


    .searchIcon {
      display: none;
    }
}
