.rowWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

<<<<<<< HEAD
.colLeft {
=======
.colLeft , .colRight {
>>>>>>> 8f7d77ecc053aaa01981ff76e6f7fac51a0dba5e
    display: flex;
    flex-direction: column;
}

.oneCard {
    border-bottom: 8px solid transparent;
}

.twoCards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 8px solid transparent;
}   

.row.inner {
    justify-content: start;
}