.mainFive {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-content: center;
    margin: 20px 0;
    grid-gap: 20px;
}


@media (max-width: 769px){
    .mainFive {
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 729px){
    .mainFive {
        grid-template-columns: repeat(1, auto);
    }
}